body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  height: 100%;
  width: 100%;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #f8f8ff;
  height: 100vh;
  width: 100vw;
}

.cart-container {
  display: flex;
}

.cart-form-discount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.cart-item {
  display: flex;
  height: 10em;
  width: 40em;
}

.cart-item-image {
  width: 20%;
  height:100%;
}

.cart-item-image img {
  height: 100%;
  width: 100%;
}

.cart-row-1 {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.cart-row-2 {
  background-color: white;  
  border: 1px solid green;
  height: 28em;
  padding: 1em 2em;
  width: 20em;
}

.cart-row-2 p, h3 {
  font-size: 0.80em;
  margin: 0.3em 0;
}

.cart-row-2 h3 {
  margin: 1em 0;
}

.checkout-btn {
  background-color: black;
  border: none;
  color: white;
  margin-bottom: 2em;
  padding: 1em 0;
  width: 100%;
}

.cart-summary-display {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.discount-btn, .discount-input {
  box-sizing: border-box;
  font-size: 0.8em;
  height: 2em;
}

.discount-btn {
  background-color: white;
  border: 1px solid black;
  border-radius: 2.5px;
  width: 20%
}

.discount-input {
  width: 78%
}

.front-page-container {
  display: flex;
  flex-direction: row;
  margin: 2em 0em;
}

.front-page-row-1 {
  width: 12.5em;
}

.front-page-row-2 {
  height: 60em;
  margin-left: 7.5em;
  text-align: center;
  width: 50em;
}

.nav-col-1 {
  font-size: 2rem;
  height: 1em;
  margin: 1em 0em;
  text-align: center;
}

.nav-container {
  display: flex;
  flex-direction: column;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0em;
  width: 10em;
}

.nav-list a, .sidenav-container a, .prod-container a {
  color: inherit;
  text-decoration: none;
}

.payment-icons {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.prod-container {
  height: 25em;
  cursor: pointer;
  width: 20em;
}

.prod-container img{
  height: 92.5%;
}

.prod-container p {
  font-size: 0.85rem;
  margin: 0.25em 0;
}

.prod-detail-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.prod-detail-row-1 {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}

.prod-detail-row-1 img{
  cursor: pointer;
  height: 6em;
  margin-bottom: 1em;
  width: 5em;
}

.prod-detail-row-2 {
  height: 32em;
  width: 25em;
}

.prod-detail-row-3 button {
  background: #008CBA;
  border: none;
  color: white;
  margin: 1em 0;
  padding: 0.5em 1em;
}

.prod-list-col {
  display: flex;
  justify-content: space-between;
  margin-left: 3em;
  width: 62em;
}

.prod-list-container {
  display: flex;
  margin: 2em 0em;
}

.sidenav-container {
  padding-left: 3em;
}

/* .sidenav-container a {
  color: inherit;
  text-decoration: none;
} */

.sidenav-container h4 {
  margin: 0;
  margin-bottom: 1em;
}
