body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  height: 100%;
  width: 100%;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #f8f8ff;
  min-height: 100vh;
  min-width: 100vw;
}

.cart-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 57em;
}

.cart-form-discount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.cart-item {
  display: flex;
  height: 10em;
  margin-bottom: 1em;
  width: 40em;
}


.cart-item-desc p, h4 {
  margin: 0;
}

.cart-item-desc h4 {
  margin-bottom: 1em;
}

.cart-item-desc p {
  font-size: 0.8em;
}

.cart-item-desc {
  padding: 0 1em;
}

.cart-item-desc button {
  margin-top: 1em;
}

.cart-item-image {
  width: 20%;
  height:100%;
}

.cart-item-image img {
  height: 100%;
  width: 100%;
}

.cart-row-1 {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 27em;
  overflow: scroll;
  padding: 2em 1em;
  width: 30em;
}

.cart-row-2 {
  background-color: white;  
  height: 27em;
  padding: 2em 2em;
  width: 20em;
}

.cart-row-2 p, h3 {
  font-size: 0.80em;
  margin: 0.3em 0;
}

.cart-row-2 h3 {
  margin: 1em 0;
}

.checkout-btn {
  background-color: black;
  border: none;
  color: white;
  margin-bottom: 2em;
  padding: 1em 0;
  width: 100%;
}

.cart-empty-container {
  border: 1px solid lightgrey;
  background-color: white;
  display: flex;
  flex-direction: column;;
  height: 15em;
  justify-content: center;
  margin: 2em auto;
  text-align: center;
  width: 60em;
}

.cart-summary-display {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.discount-btn, .discount-input {
  box-sizing: border-box;
  font-size: 0.8em;
  height: 2em;
}

.discount-btn {
  background-color: white;
  border: 1px solid black;
  border-radius: 2.5px;
  width: 20%
}

.discount-input {
  width: 78%
}

.front-page-container {
  display: flex;
  flex-direction: row;
}

.front-page-row-1 {
  width: 12.5em;
}

.front-page-row-2 {
  position: relative;
  margin-left: 7.5em;
  text-align: center;
  width: 48em;
}

.front-page-row-2 img {
  height: 60em;
  padding-bottom: 2em;
}

.home-container {
  display: flex;
  height: 45em;
  justify-content: space-between;
  margin: 0 auto;
  width: 65em;
}

.home-col-1 {
  height: 100%;
  position: relative;
  width: 59.5%;
}

.home-col-1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0% 0%;
}

.home-col-2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 39.5%;
}

.home-col-2 div {
  height: 49.5%;
  position: relative;
  width: 100%;
}

.promo-text {
  color: black;
  position: absolute;
  top: 8px;
  right: 16px;
}


.nav-bar-container {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  height: 2em;
  justify-content: space-between;
}

.nav-bar-container div {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 33%;
}

.nav-bar-home {
  cursor: pointer;
  text-align: left;
}

.nav-bar-row-3 {
  display: flex;
  justify-content: center;
}

.nav-bar-row-3 div {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 30%;
}

.nav-bar-row-3 p {
  margin-left: 0.25em;
}

.nav-logo-container {
  font-size: 2rem;
  height: 2em;
  margin: 0.5em auto;
  margin-top: 1.5em;
  text-align: center;
  width: 8em;
}

.nav-logo {
  object-fit: none;
  object-position: 10% 50%;
}

.nav-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.nav-link {
  color: inherit;
  text-decoration: none;
}

.nav-list {
  display: flex;
  font-weight: bold;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0em;
  width: 10em;
}

.nav-list a, .sidenav-container a, .prod-container a {
  color: inherit;
  text-decoration: none;
}

.nav-list-link:hover {
  color: grey;
}

.not-found-container {
  background-color: white;
  border: 1px solid lightgrey;
  height: 10em;
  margin: 4em auto;
  width: 50em;
}

.not-found-container h1, p{
  text-align: center;
}

.payment-icons {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.prod-container {
  height: 26em;
  cursor: pointer;
  width: 20em;
}

.prod-container img{
  height: 90%;
}

.prod-container p {
  font-size: 0.85rem;
  margin: 0.25em 0;
}

.prod-detail-container {
  display: flex;
  justify-content: space-between;
  margin: 2em auto;
  width: 55em;
}

.prod-detail-row-1 {
  display: flex;
  flex-direction: column;
}

.prod-detail-row-1 img{
  cursor: pointer;
  height: 6em;
  margin-bottom: 1em;
  width: 5em;
}

.prod-detail-row-2 {
  height: 32em;
  width: 25em;
}

.prod-detail-row-3 {
  width: 20em;
}

.prod-detail-row-3 button {
  background: #008CBA;
  border: none;
  color: white;
  margin: 1em 0;
  padding: 0.5em 1em;
}

.prod-list-col h2 {
  margin: 0;
  margin-bottom: 0.5em;
}

.prod-list-items {
  display: flex;
  justify-content: space-between;
  width: 62em;
}

.prod-list-container {
  display: flex;
  margin: 2em 0em;
  justify-content: space-between;
  width: 80em;
}

.sidenav-container {
  padding-left: 2em;
}

/* .sidenav-container a {
  color: inherit;
  text-decoration: none;
} */

.sidenav-container h4 {
  margin: 0;
  margin-bottom: 1em;
}


